.main__contents {
    text-align: center;
    width: 100%;
}

.main__title {
    margin: 16px 0 8px 0;
    font-weight: bold;
    font-size: 32px;
}

.image__wrapper {
    display: flex;
    justify-content: center;
    height: 560px;
    width: 100%;
}

img {
    width: 50%;
}

.button__block {}

.button__start {
    border: 2px solid black;
    padding: 8px;
    height: 52px;
    width: 30%;
    font-weight: bold;
    font-size: 20px;
}